{% extends 'extends.html' %}
{% load static %}
{% block content %}
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/2.jpg' %}) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Новый пароль</h2>
                        <nav class="bradcaump-inner">
                          <a class="breadcrumb-item" href="{% url 'index' %}"> Home</a>
                          <span class="brd-separetor">/</span>
                          <span class="breadcrumb-item active">new_password</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="htc__login__register bg__white ptb--130">
    <div class="container">

        <!-- Start Login Register Content -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="htc__login__register__wrap">
                    <!-- Start Single Content -->
                    <div id="login" role="tabpanel" class="single__tabs__panel tab-pane fade in active">
<form class="login" method="POST">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class=" alert alert-success">
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        </div>
        {% endfor %}
    </ul>
    {% endif %}                  
    {% csrf_token %}
    
    {% if not messages %}
    <div class="alert alert-danger">Введите новый и надежный пароль и просим вас не забывать его </div>
    {% endif %} 

    {{ form.password }}
    {% if form.password.errors %}
    <div class="alert alert-danger">{{ form.password.errors }}</div>
    {% endif %}

    {{ form.password.help_text }}
<br>
<br>
    {{ form.confirm_password }}
    {% if form.confirm_password.errors %}
    <div class="alert alert-danger">{{ form.confirm_password.errors }}</div>
    {% endif %}
    <br>
    {{ form.confirm_password.help_text }}
    <br>
    <div class="htc__login__btn mt--30">
        <button id="musicSpan"><a>ok</a></button>

    </div>


</form>
</div>
</div>


<!-- End Single Content -->
</div>
</div>
</div>
<!-- End Login Register Content -->
</div>
</div>
{% endblock content %}