{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tmart-Minimalist eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
    
    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!--css warning email users-->
    <link rel="stylesheet" href="{% static 'css/warning.css' %}">

    <!-- Owl Carousel main css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static 'css/shortcode/shortcodes.css' %}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- User style -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <link rel="stylesheet" href="{% static 'css/Like_dislike.css' %}">
    <!-- cart -->
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
  
   <!--comments--> 
   <link rel="stylesheet" href="{% static 'css/comments.css' %}">
   <!--button detail elements-->
   <link rel="stylesheet" href="{% static 'css/button_and_detail.css' %}">
   <!-- CSS only -->
   <link rel="stylesheet" href="{% static 'css/style_passwords_registet-.css' %}">
   <!--discount products-->
   <link rel="stylesheet" href="{% static 'css/discount_new_products.css' %}">





    <!-- Modernizr JS -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->




        
        {% if customer_verificate.is_verificate == False  %}              
            <div class="alert warning">
            <span class="closebtn ">×</span>  
            <strong>Предупреждение! </strong> Ваша электронная почта не подтверждена, мы вам отправили письмо с потверждением если оно не пришло мы можем <a href="activate_2"> отправить заново.</a>
          </div>
       {% else %}
       
       {% endif %}
                                        

        <header id="header" class="htc-header header--3 bg__white">
            
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                            <div class="logo">
                               
                            </div>
                        </div>
                        
                        <!-- Start MAinmenu Ares -->
                        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
                            <nav class="mainmenu__nav hidden-xs hidden-sm">
                                <ul class="main__menu">
                                    <li class="drop"><a href="{% url 'index' %}">Главная</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'index' %}">Главная 1</a></li>
                          
                                        </ul>
                                    </li>
                                    
                                    
                      
                                    <li class="drop"><a href="{% url 'shop' %}">Магазин</a>
                                        <ul class="dropdown mega_dropdown">
                                            <!-- Start Single Mega MEnu -->
                                            <li><a class="mega__title" href="{% url 'shop' %}">макет магазина</a>
                                                <ul class="mega__item">
                                                    <li><a href="#">demo page title</a></li>
                                                    <li><a href="#">demo page title</a></li>
                                                    
                                                    <li><a href="#">demo page title</a></li>
                                                    <li><a href="#">demo page title</a></li>
                                                    <li><a href="#">demo page title</a></li>
                                                    <li><a href="#">demo page title</a></li>
                                                    <li><a href="#">demo page title</a></li>
                                                </ul>
                                            </li>
                                            <!-- End Single Mega MEnu -->
                                            <!-- Start Single Mega MEnu -->
                                            <li><a class="mega__title" href="{% url 'shop' %}">product details layout</a>
                                                <ul class="mega__item">
                                                    <li><a href="#">demo page title</a></li>
                                                    <li><a href="#">demo page title</a></li>
                                                    <li><a href="#">demo page title</a></li>
                                                    <li><a href="#">demo page title</a></li>
                                                    <li><a href="#">demo page title</a></li>
                                                    <li><a href="#">demo page title</a></li>
                                                    <li><a href="#">demo page title</a></li>
                                                    <li><a href="#">demo page title</a></li>
                                                </ul>
                                            </li>
                                            <!-- End Single Mega MEnu -->
                                            <!-- Start Single Mega MEnu -->
                                            <li>
                                                <ul class="mega__item">
                                                    <li>
                                                        <div class="mega-item-img">
                                                            <a href="{% url 'shop' %}">
                                                                <img src="{% static 'images/feature-img/3.png' %}" alt="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- End Single Mega MEnu -->
                                        </ul>
                                    </li>
                                    <li class="drop"><a href="#">Cтраницы</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'about' %}">О нас</a></li>
                                            <li><a href="{% url 'shop' %}">Магазин</a></li>
                                            <li><a href="{% url 'shop-sidebar' %}">боковая панель магазина</a></li>
                                            <li><a href="{% url 'product-details-sticky-right' %}">информация о продукте</a></li>
                                            <li><a href="{% url 'cart' %}">Корзина</a></li>
                                            <li><a href="{% url 'wishlist' %}">список желаний</a></li>
                                            <li><a href="{% url 'make_order' %}">Чекаут</a></li>
                                            <li><a href="{% url 'team' %}">команда</a></li>
                                            <li><a href="{% url 'login-register01' %}">войти & зарегистрироваться</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                                </ul>
                            </nav>
                            <div class="mobile-menu clearfix visible-xs visible-sm">
                                <nav id="mobile_dropdown">
                                    <ul>
                                        <li><a href="{% url 'index' %}">Home</a>
                                            <ul>
                                                <li><a href="{% url 'index' %}">Home 1</a></li>
                                                <li><a href="{% url 'index_2' %}">Home 2</a></li>
                                            </ul>
                                        </li>
    
                                        <li><a href="#">portfolio</a>
                                            <ul class="dropdown">
                                                <li><a href="{% url 'portfolio-gutter-box-3' %}">Boxed Gutter 3 Col</a></li>
                                                <li><a href="{% url 'portfolio-gutter-full-wide-4' %}">Wide Gutter 4 Col </a></li>
                                                <li><a href="{% url 'portfolio-card-box-3' %}">Card Gutter 3 Col </a></li>
                                                <li><a href="{% url 'portfolio-masonry-3' %}">Masonry Box 3 Col </a></li>
                                                <li><a href="{% url 'portfolio-gutter-masonry-fullwide-4' %}">Masonry Wide 4 Col </a></li>
                                                <li><a href="{% url 'portfolio-gutter-box-3-carousel' %}">carousel Gutter 3 Col </a></li>
                                                <li><a href="{% url 'portfolio-justified-box-3' %}">justified box 3 Col</a></li>
                                                <li><a href="{% url 'single-portfolio-gallery' %}">Portfolio Details </a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'blog' %}">blog</a>
                                            <ul>
                                                <li><a href="{% url 'blog' %}">blog 3 column</a></li>
                                                <li><a href="{% url 'blog-2-col-rightsidebar' %}">2 col right siderbar</a></li>
                                                <li><a href="{% url 'blog-details-left-sidebar' %}"> blog details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">pages</a>
                                            <ul>
                                                <li><a href="{% url 'about' %}">about</a></li>
                                                <li><a href="{% url 'shop' %}">shop</a></li>
                                                <li><a href="{% url 'shop-sidebar' %}">shop sidebar</a></li>
                                                <li><a href="{% url 'product-details-sticky-right' %}">product details</a></li>
                                                <li><a href="{% url 'cart' %}">cart</a></li>
                                                <li><a href="{% url 'wishlist' %}">wishlist</a></li>
                                                <li><a href="{% url 'make_order' %}">checkout</a></li>
                                                <li><a href="{% url 'team' %}">team</a></li>
                                                <li><a href="{% url 'login-register01' %}">login & register</a></li>
                                            </ul>
                                        </li>
                                 
                                        <li><a href="{% url 'contact' %}">contact</a></li>
                                    
                                    </ul>
                                </nav>
                            </div>                          
                        </div>
                        <!-- End MAinmenu Ares -->
                        <div class="col-md-2 col-sm-4 col-xs-3">  
                            <ul class="menu-extra">
                                {% if request.user.is_authenticated %}
                                <ul class="menu-extra">
                          
                                <li><a href="{% url 'my_orders' %}">{{request.user.first_name}} онлайн</a></li>
                               


                               
                                    

                                
                                </ul>
                                {% else %}


                                <li><a href="{% url 'login-register01' %}" class="ti-user"></a></li>
                                
                               
                            
                                {% endif %}
                                
                                <li class="search search__open "><span class="ti-search"></span></li>
                          
                                {% if request.user.is_authenticated %}
                                <a class="nav-link" href="{% url 'logout_page' %}">Выйти</a>
                                
                                <li class="cart__menu" href="{% url 'cart' %}"><span class="ti-shopping-cart">{{ cart.products.count }}</span></li>

                                {% else %}
                                
                                {% endif %}
                                <li class="toggle__menu hidden-xs hidden-sm"><span class="ti-menu"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container" >
                    <div class="row" >
                        <div class="col-md-12" >
                            <div class="search__inner">
                                <form action="{% url 'search_results' %}" method="get">
                                    <input name="q" placeholder="Search here... " type="text">
                                    <button type="submit"></button>
                                </form>
                                  <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% block content %}
        <div class="body__overlay"></div>
<!-- Start Offset Wrapper -->
<div class="offset__wrapper">
    <!-- Start Search Popap -->
    <div class="search__area">
        <div class="container" >
            <div class="row" >
                <div class="col-md-12" >
                    <div class="search__inner">
                        <form action="{% url 'search_results' %}" method="get">
                            <input name="q" placeholder="Search here... " type="text">
                            <button type="submit"></button>
                        </form>
                          <div class="search__close__btn">
                            <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Search Popap -->
    <!-- Start Offset MEnu -->
    <div class="offsetmenu">
        <div class="offsetmenu__inner">
            <div class="offsetmenu__close__btn">
                <a href="#"><i class="zmdi zmdi-close"></i></a>
            </div>
            <div class="off__contact">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/logo/logo.png' %}" alt="logo">
                    </a>
                </div>
                <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <ul class="sidebar__thumd">
                <li><a href="#"><img src="{% static 'images/sidebar-img/1.jpg' %}" alt="sidebar images"></a></li>
                <li><a href="#"><img src="{% static 'images/sidebar-img/2.jpg' %}" alt="sidebar images"></a></li>
                <li><a href="#"><img src="{% static 'images/sidebar-img/3.jpg' %}" alt="sidebar images"></a></li>
                <li><a href="#"><img src="{% static 'images/sidebar-img/4.jpg' %}" alt="sidebar images"></a></li>
                <li><a href="#"><img src="{% static 'images/sidebar-img/5.jpg' %}" alt="sidebar images"></a></li>
                <li><a href="#"><img src="{% static 'images/sidebar-img/6.jpg' %}" alt="sidebar images"></a></li>
                <li><a href="#"><img src="{% static 'images/sidebar-img/7.jpg' %}" alt="sidebar images"></a></li>
                <li><a href="#"><img src="{% static 'images/sidebar-img/8.jpg' %}" alt="sidebar images"></a></li>

            </ul>
            <div class="offset__widget">
                <div class="offset__single">
                    <h4 class="offset__title">Language</h4>
                    <ul>
                        <li><a href="#"> Engish </a></li>
                        <li><a href="#"> French </a></li>
                        <li><a href="#"> German </a></li>
                    </ul>
                </div>
                <div class="offset__single">
                    <h4 class="offset__title">Currencies</h4>
                    <ul>
                        <li><a href="#"> USD : Dollar </a></li>
                        <li><a href="#"> EUR : Euro </a></li>
                        <li><a href="#"> POU : Pound </a></li>
                    </ul>
                </div>
            </div>
            <div class="offset__sosial__share">
                <h4 class="offset__title">Follow Us On Social</h4>
                <ul class="off__soaial__link">
                    <li><a class="bg--twitter" href="#"  title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                    
                    <li><a class="bg--instagram" href="#" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>

                    <li><a class="bg--facebook" href="#" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>

                    <li><a class="bg--googleplus" href="#" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a></li>

                    <li><a class="bg--google" href="#" title="Google"><i class="zmdi zmdi-google"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Offset MEnu -->
    <!-- Start Cart Panel -->
    <div class="shopping__cart">
        <div class="shopping__cart__inner">
            <div class="offsetmenu__close__btn">
                <a href="#"><i class="zmdi zmdi-close"></i></a>
            </div>
            <div class="shp__cart__wrap">
                
                {% if not cart.products.count %}
                <div class="shp__single__product">
          
                    <div class="shp__pro__details" style="text-align: right;">
                        <h2>Ваша корзина пуста</a></h2>
                    

                    </div>
                    
                </div>
                {% else %} 
                {% for item in cart.products.all %} 
                <div class="shp__single__product">
                    <div class="shp__pro__thumb">
                        <a href="#">
                            <img src="{{ item.product.image.url }}" alt="product images">
                        </a>
                    </div>
                    <div class="shp__pro__details">
                        <h2><a href="{% url 'product_detail' item.product.pk %}">{{ item.product.title }} тенге</a></h2>
                        <span class="quantity">QTY: 1</span>
                        <span class="shp__price">{{ item.product.price }} тенге</span>
                    </div>
                    <div class="remove__btn">
                        <a href="{% url 'delete_from_cart_index' slug=item.product.slug %}" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
               
          


               
            </div>
          
            {% if not cart.products.count %}
            {% else %}
            <ul class="shoping__total">
                <li class="subtotal">Общая цена</li>
              
                <li class="total__price">{{ cart.final_price }} тенге</li>
           
            </ul>
            {% endif %}
            <ul class="shopping__btn">
                <li><a href="{% url 'cart' %}">View Cart</a></li>
                <li class="shp__checkout"><a href="{% url 'make_order' %}">Checkout</a></li>
            </ul>
       
        </div>
    </div>
    <!-- End Cart Panel -->
</div>

        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/2.jpg' %}) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Итоги поиска</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="{% url 'index' %}">Home</a>
                                  <span class="brd-separetor">/</span>
                                  <span class="breadcrumb-item active">Search</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="htc__product__area ptb--130 bg__white">
            <div class="container">
        <div class="row">
            
        
            <div class="product__list another-product-style">
                <div class="htc__product__container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product__menu">
                               

                            </div>
                        </div>
                    </div>
                </div>
                {% for product in object_list %}
                <div class="htc__product__container">
                    <div class="col-md-3 single__pro col-lg-3 cat--1 col-sm-4 col-xs-12">
                        <div class="product foo">
                        <div class="product__inner">
                        <div class="pro__thumb">
                        <a href="#">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" alt="product images">
                            {% endif %}
                        </a>
                        </div>
                        <div class="product__hover__info">
                        <ul class="product__action">
                            {% if request.user.is_authenticated %}
                            {% for products in products %}
                            <li><a href="{% url 'product_view' products.pk %}" data-toggle="modal"  data-target="#productModal{{ products.id }}" title="Quick View" class="quick-view modal-view detail-link" ><span class="ti-plus"></span></a></li>
                            {% endfor %}
                            <li><a title="Add TO Cart" href="{% url 'add_to_cart' slug=product.slug %}"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Wishlist" href="{% url 'wishlist' %}"><span class="ti-heart"></span></a></li>
                            {% else %}
                            <li><a data-toggle="Вы не авторизованы" data-target="{% url 'login-register01' %}" title="Вы не авторизованы" class="quick-view modal-view detail-link" href="{% url 'login-register01' %}"><span class="ti-plus"></span></a></li>
                            <li><a title="Вы не авторизованы" href="{% url 'login-register01' %}"><span class="ti-shopping-cart"></span></a></li>
                            <li><a title="Вы не авторизованы" href="{% url 'login-register01' %}"><span class="ti-heart"></span></a></li>
                            {% endif %}
                            </ul>
                            </div>
                        </div>
                    <div class="product__details">
                    <h2><a href="">{{ product.title }}</a></h2>
                    <h2><a style="color:red;">{{ product.count_product }} шт</a></h2>
                                                        {% if product.count_product == 0  %}
                                                        <h2><a style="color:red;">нет в наличий</a></h2>
                                                        {% endif %}
                    <ul class="product__price">
                        <li class="old__price">{{ product.history_price }}тенге</li>
                        <li class="new__price">{{ product.price }}тенге</li>
                    </ul>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
        
        </div>
            </div>
        </section>




       
    
        
        {% endblock %}
        <footer class="htc__foooter__area gray-bg">
            <div class="container">
                <div class="row">
                    <div class="footer__container clearfix">
                         <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-lg-3 col-sm-6">
                            <div class="ft__widget">
                                <div class="ft__logo">
                                    <a href="{% url 'index' %}">
                                        <img src="{% static 'images/logo/logo.png' %}" alt="footer logo">
                                    </a>
                                </div>
                                <div class="footer-address">
                                    <ul>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-pin"></i>
                                            </div>
                                            <div class="address-text">
                                                <p>Астана ,ЕНУ <br> Адольф Янушкеевич 1/4</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-email">clickofficialgroup</br>@gmail.com</i>
                                            </div>
                                            <div class="address-text">
                                                <a href="#"> </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-phone-in-talk"></i>
                                            </div>
                                            <div class="address-text">
                                                <p>+012 345 678 102 </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="social__icon">
                                    <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-lg-2 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Категорий</h2>
                                <ul class="footer-categories">
                                    {% for categories in categories %}
                                    <li><a href="{% url 'catigories' categories.pk %}">{{ categories.name  }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-lg-2 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Информация</h2>
                                <ul class="footer-categories">
                                    <li><a href="{% url 'about' %}">Про нас</a></li>
                                    <li><a href="{% url 'contact' %}">Контакты </a></li>
                                    <li><a href="#">Условия использования</a></li>
                                    <li><a href="#">Возврат и обмен</a></li>
                                    <li><a href="#">Доставка</a></li>
                                    <li><a href="#">Политика конфиденциальности</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-lg-3 col-lg-offset-1 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Новостная Рассылка</h2>
                                <div class="newsletter__form">
                                    <p>Подпишитесь на нашу рассылку и получите скидку 10% на первую покупку.</p>
                                    <div class="input__box">
                                        <div id="mc_embed_signup">
                                            
                                            <form action="{% url 'EMAIL' %}" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" >
                                                {% csrf_token %}
                                                <div id="mc_embed_signup_scroll" class="htc__news__inner">
                                                    <div class="news__input">
                                                        <tr>
                                                            
                                                            <td>
                                                             
                                                              <input type="email" name="email" placeholder="Email Address" required id="id_email">
                                                        
                                                        
                                                        
                                                        
                                                            </td>
                                                          </tr>
                                                        
                                                    </div>
                                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                                    <div class="clearfix subscribe__btn"><input type="submit" value="Send" name="subscribe" id="mc-embedded-subscre" class="bst__btn btn--white__color">
                                                        
                                                    </div>
                                                </div>
                                            </form>
                                          
                                        </div>
                                    </div>        
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                    </div>
                </div>
                <!-- Start Copyright Area -->
                <div class="htc__copyright__area">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="copyright__inner">
                                <div class="copyright">
                                    <p>© 2022 <a href="#">ClickWeb. Все права защищены.</p>
                                </div>
                                <ul class="footer__menu">
                                    <li><a href="{% url 'index' %}">Главная</a></li>
                                    <li><a href="{% url 'shop' %}">Магазин</a></li>
                                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright Area -->
            </div>
        </footer>
        <!-- End Footer Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- QUICKVIEW PRODUCT -->
  


    {% for product in products %}
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal{{ product.id }}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal__container" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <!-- Start product images -->
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="big images" style="image-rendering: optimizeSpeed;" src="{{ product.image.url }}">
                                </div>
                            </div>
                            <!-- end product images -->
                            <div class="product-info">
                                <h1>{{ product.title }}</h1>
                                <div class="rating__and__review">
                                    <ul class="rating">
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                    </ul>
                                    <div class="review">
                                        <a href="#">4 customer reviews</a>
                                    </div>
                                </div>
                                <div class="price-box-3">
                                    <div class="s-price-box">
                                        <span class="new-price">{{ product.price }} тенге</span>
                                        <span class="old-price">{{ product.history_price }} тенге</span>
                                    </div>
                                </div>
                                <div class="quick-desc">
                                    {{ product.description|safe }}
                                </div>
                                <div class="select__color">
                                    <h2>Select color</h2>
                                    <ul class="color__list">
                                        <li class="red"><a title="Red" href="#">Red</a></li>
                                        <li class="gold"><a title="Gold" href="#">Gold</a></li>
                                        <li class="orange"><a title="Orange" href="#">Orange</a></li>
                                        <li class="orange"><a title="Orange" href="#">Orange</a></li>
                                    </ul>
                                </div>
                                <div class="select__size">
                                    <h2>Select size</h2>
                                    <ul class="color__list">
                                        <li class="l__size"><a title="L" href="#">L</a></li>
                                        <li class="m__size"><a title="M" href="#">M</a></li>
                                        <li class="s__size"><a title="S" href="#">S</a></li>
                                        <li class="xl__size"><a title="XL" href="#">XL</a></li>
                                        <li class="xxl__size"><a title="XXL" href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <div class="social-sharing">
                                    <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product</h3>
                                        <ul class="social-icons">
                                            <li><a target="_blank" title="rss" href="#" class="rss social-icon"><i class="zmdi zmdi-rss"></i></a></li>
                                            <li><a target="_blank" title="Linkedin" href="#" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="zmdi zmdi-pinterest"></i></a></li>
                                            <li><a target="_blank" title="Tumblr" href="#" class="tumblr social-icon"><i class="zmdi zmdi-tumblr"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="zmdi zmdi-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="addtocart-btn">
                                    <a href="{% url 'add_to_cart' slug=product.slug %}">В корзину</a>
                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- END Modal -->
    </div>
    <!-- END QUICKVIEW PRODUCT -->
    <!-- Placed js at the end of the document so the pages load faster -->
    {% endfor %}
    <!-- jquery latest version -->
    
    <script src="{% static 'js/vendor/jquery-1.12.0.min.js' %}"></script>
    <!-- Bootstrap framework js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All js plugins included in this file. -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Waypoints.min.js. -->
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="{% static 'js/main.js' %}"></script>
   <!--Cart-->
    <script src="{% static 'js/cart.js' %}"></script>
   <!--button-->
    <script src="{% static 'js/Like_dislike.js' %}"></script>
    <!-- ajax like-dislike -->
    <script src="{% static 'js/AJAX/ajax_like_dislikes.js' %}" ></script>
    <!--Warning User email-->
    <script src="{% static 'js/warning.js' %}"></script>
    <!--passwords views-->
    <script src="{% static 'js/password.js' %}"></script>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>




    

</body>

</html>