{% extends 'extends.html' %}
{% load static %}
{% block content %}
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/2.jpg' %}) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h3 class=" alert alert-success">Вам отправлена на электронную почту ссылка на сброс пароля</h3>
                        <nav class="bradcaump-inner">
                          <a class="breadcrumb-item" href="{% url 'index' %}"> Home</a>
                          <span class="brd-separetor">/</span>
                       
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="htc__login__register bg__white ptb--130">

</div>
<!-- End Login Register Content -->

{% endblock content %}